<Footer class="Footer">
     <small>
          <a href="https://railsin20.org>"Rails in 20 minutes</a> by Alfonso Rush
     </small>
      <nav>
         </ul>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
         </ul>    
       </nav>
</footer>